@import "./mixins";

$font-family-base: Avenir, Roboto, "Helvetica Neue", sans-serif !important;

html,
.content__container {
  --ion-font-family: Avenir, Roboto, "Helvetica Neue", sans-serif !important;
  --ion-background-color: #373737;
}

/* +++ CONTENT +++ */
.app_splitpane {
  display: flex;
}
.split-pane-md.split-pane-visible>.split-pane-side {
  min-width: 200px;
}
ion-header ion-toolbar:first-child {
  padding-top: var(--ion-safe-area-top,0);
  align-items: center;
  display: flex;
  margin-top: 10px;
  height: 60px;
  box-shadow: 0 0 5px black;

  span { font-size: 16px; font-weight: 400 }
}
.side__navigation {
  @include to-sm { --ion-background-color: white; }
  //@include to-sm { --color: white; }
  border-right: none !important;

  @include from-md {
    max-width: 12% !important;
  }

  ion-list-header,
  ion-item{
    --background-hover: #00d341;
    @include from-sm { --color: white; }
  }

  ion-button {
    --background-hover: #00ff46;
  }

  ion-header {

    ion-toolbar { @include to-md { box-shadow: none; } }

    ion-title {
      text-align: center;
      width: 100%;
      height: 48px;

      ion-button {
        //--box-shadow: none;
        color: #575757;
        font-family: "Days One" !important;
      }
    }
  }

  ion-content {
    font-family: "Days One" !important;
    ion-label { font-family: "Days One" !important; }
  }
}

// hide ionic header shadow
.header-md:after {
  background: none;
}

ion-toolbar {
  --background: white;
}

.content__container {
  width: 100%;
  //border-right: none !important;

  ion-toolbar {

    .table__name {
      //font-size: 17px;
      margin: 0 5px;
    }
    .competition__area {
      font-size: 13px;
      font-weight: 500;
      margin: -5px 5px 0;
    }

    ion-title {
      font-weight: 900;
      font-size: 22px;
      @include to-sm { text-align: center; }
      padding: 7px;
      width: 100%;
      @include from('1470px') { border-top-right-radius: 3px; }
      @include from('1470px') { border-bottom-right-radius: 3px; }

      // For mobile center the title based on full (device) width instead of element width,
      // menu and back button should not affect the position of the page title
      //@include to-sm {
      //  position: absolute;
      //  right: 0;
      //  top: 4px;
      //  margin: auto;
      //  width: 100%;
      //}
    }

    ion-buttons {
      @include from-md { display: none; }
      position: absolute;
    }
  }
  .content__div {
    display: flex;
    flex-wrap: wrap;
  }

  .home__and__away__container {
    display: flex;
  }

  ion-content {

    .ion-page {
      @include to-xs { text-align: center; }
    }

    .table__card {
      height: fit-content;
      @include from-xs { min-width: 450px; }
      background-color: white;
      @include to-xs { * { font-size: 12px; } }
    }
    .league__view__card {
      height: fit-content;
      background-color: white;
      width: 100%;
      @include to-xs { * {
        font-size: 13px;
        align-items: center;
      } }

      .home__team {
        width: 180px;
        @include to-xs { width: 140px }
        text-align: right;
        font-size: 12px;
        align-self: center;
      }
      .away__team {
        width: 180px;
        @include to-xs { width: 140px }
        font-size: 12px;
        align-self: center;
      }
    }
    .matchday__results__card,
    .main__table__container,
    .side__table__container {
      flex-wrap: wrap;
      vertical-align: top;
      @include to-sm { justify-content: center; }
    }

    .matchday__results__card:last-child { margin-bottom: 10px; }

    .side__table__card {
      width: 100%;
      .team__stats,
      .team__header {
        width: 117px;
      }
      .line__1 { right: 27px; @include to-xs { right: 28px; } }
      .line__2 { right: 51px; @include to-xs { right: 52px; } }
      .line__3 { right: 74px; @include to-xs { right: 76px; } }
      .line__4 { right: 97px; @include to-xs { right: 100px; } }
    }
    ion-card {
      border-radius: 0;
      box-shadow: 0 0 5px black;
      min-height: 200px;
      --color: black;
      --ion-background-color: white !important;
      --background: white !important;

      margin-bottom: 0;

      @include to-xs { margin-top: 0; margin-bottom: 0; }

      @include to-xs {
        -webkit-margin-start: 0;
        margin-inline-start: 0;
        -webkit-margin-end: 0;
        margin-inline-end: 0;
      }

      ion-list {
        padding: 0 5px 5px;
        @include to-xs { padding: 0 5px 15px; }
      }

      ion-progress-bar { --buffer-background: #0079e6; }
    }
    .vertical__line {
      z-index: 999;
      height: 102%;
      width: 1px;
      position: absolute;
      top: 2px;
      background-color: #d1d1d1;
      transform: translateY(-25px);
    }
    .line__1 { right: 30px; @include to-xs { right: 24px; } }
    .line__2 { right: 54px; @include to-xs { right: 42px; } }
    .line__3 { right: 79px; @include to-xs { right: 61px; } }
    .line__4 { right: 104px; @include to-xs { right: 80px; } }
    .line__5 { right: 129px; @include to-xs { right: 99px; } }
    .line__6 { right: 155px; @include to-xs { right: 116px; } }
    .line__7 { right: 179px; @include to-xs { right: 135px; } }
  }
}

/* --------------------------------------------- */

/* +++ TABLE +++ */
.team__item {
  --min-height: 28px;
  --inner-border-width: 0 0 0 0;  // remove border for list items
  --padding-start: 0;
  --inner-padding-end: 0;
}
.card__title {
  padding: 6px 12px;
  font-weight: 700;
  font-size: 16px;
  &:not(.no-absolute-position) { position: absolute; }
}
.team__header__stats {
  height: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

  .team__header {
    display: flex;
    align-items: flex-end;
    margin-right: 5px;
    @include to-xs { margin-right: 5px; }
    padding-bottom: 2px;
    border-bottom: 1px solid black;
    width: 200px;
    @include to-xs { width: 150px; }
    justify-content: space-between;
    flex-shrink: 0;

    .team__result__item {
      width: 12.5%;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      font-weight: 500;
      font-size: 9px;
      @include to-xs { font-size: 8px; }
      //background-repeat: no-repeat;
      //background-position: 6px 100%,0 0;
      //background-size: 68% 10%;
      //@include to-xs { background-size: 63% 5%; }
      //@include to-xs { transform: skewY(-5deg) }
    }

    .goals--plus {
      color: white;
      .ball {
        width: 12px;
        height: 12px;
        background: limegreen;
        border-radius: 15px;
        text-align: center;
      }
    }
    .goals--minus {
      color: white;
      .ball {
        width: 12px;
        height: 12px;
        background: orangered;
        border-radius: 15px;
        text-align: center;
      }
    }
    .goals--difference {
      color: white;
      .ball {
        width: 12px;
        height: 12px;
        background: black;
        border-radius: 15px;
        text-align: center;
      }
    }

    //.won { background-image: linear-gradient(-80deg,#00b324 4%,#00b324 96%); }
    //.draw { background-image: linear-gradient(-80deg,#676665 4%,#676665 96%); }
    //.lost { background-image: linear-gradient(-80deg,#ff0514 4%,#ff0514 96%); }
  }
}

.team__container {
  width: 100%;
  display: flex;
  font-size: 12px;
  justify-content: space-between;

  .matchday__position {
    font-size: 10px;
    color: #2d2d2d
  }
}

.team__container:nth-child(0) {
  background-color: white;
  align-self: end;
}

.team__info {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 1;

  .team__position {
    @include to-xs { font-size: 13px; }
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    width: 24px;
  }

  .team__logo {
    width: 20px;
    margin: 3px 10px;
    @include from-sm {
      margin-left: 10px;
    }
    flex-shrink: 0;

    img {
      display: flex;
    }
  }

  .team__name {
    align-self: center;
    width: 100%;
  }
}

.team__stats {
  display: flex;
  align-items: center;
  width: 200px;
  @include to-xs { width: 150px; }
  justify-content: space-between;
  flex-shrink: 0;

  .team__result__item {
    width: 12.5%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main__table__container {
  @include to-xs { margin: 10px auto !important; }
  width: 500px;
}
.side__table__container {
  @include to-xs { margin: 10px auto !important; }
  width: 200px;

  .team__stats .team__result__item {
    width: 20%;
  }
  .team__header__stats .team__header .team__result__item {
    width: 20%;
  }
}
.matchday__results__card {
  height: fit-content;
  width: 450px;
  @include to-xs { margin: 10px auto !important; }
}

.list_title {
  padding-top: 20px;
}

/* --------------------------------------------- */

/* +++ HOME +++ */
.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-title {
  //font-weight: 900;
  width: fit-content;
  padding: 0;
  margin: auto;
  //background-image: linear-gradient(-80deg,#3171e0 4%,#4c8dff 96%);
  //background-repeat: no-repeat;
  //background-position: 0 102%,0 0;
  //background-size: 100% 15%;
}
