@import "./mixins";

$font-family-base: "Helvetica Neue", Arial, Roboto, sans-serif !important;

html,
.content__container {
  --ion-font-family: "Helvetica Neue", Arial, Roboto, sans-serif !important;
  --ion-background-color: #373737;
}

/* +++ CONTENT +++ */
.app_splitpane {
  display: flex;
}
.split-pane-md.split-pane-visible>.split-pane-side {
  min-width: 200px;
}
ion-header ion-toolbar:first-child {
  padding-top: var(--ion-safe-area-top,0);
  align-items: center;
  display: flex;
  margin-top: 10px;
  height: 60px;
  box-shadow: 0 0 5px black;

  span { font-size: 16px; font-weight: 400 }
}
.side__navigation {
  border-right: none !important;

  @include to-sm {
    --ion-background-color: white;
    --width: 200px;
  }

  @include from-md {
    max-width: 12% !important;
  }

  ion-list-header,
  ion-item{
    @include from-sm { --color: white; }
  }

  ion-header {

    ion-toolbar { @include to-md { box-shadow: none; } }

    ion-title {
      text-align: left;
      width: 100%;

      ion-button {
        font-size: 22px;
        font-weight: 900;
        --border-radius: 0 30px 30px 0;
        --box-shadow: none;
        margin-left: -8px;
        padding-left: 0;
        height: 36px;
      }
    }
  }
}

/* +++ Vertical Lines +++ */
ion-list {
  position: relative;

  .vertical__line__container--relative-parent {
    .vertical__line__container--hiding-parent {
      overflow: hidden;
    }
  }
}

// hide ionic header shadow
.header-md:after {
  background: none;
}

ion-toolbar {
  --background: white;
}

.content__container {
  width: 100%;
  //border-right: none !important;

  ion-toolbar {

    .table__name {
      margin: 0 5px;
    }
    .competition__area {
      font-size: 13px;
      font-weight: 500;
      margin: -5px 5px 0;
    }

    ion-title {
      font-weight: 900;
      font-size: 22px;
      @include to-sm { text-align: center; }
      padding: 7px;
      width: 100%;
      @include from('1470px') { border-top-right-radius: 3px; }
      @include from('1470px') { border-bottom-right-radius: 3px; }

      // For mobile center the title based on full (device) width instead of element width,
      // menu and back button should not affect the position of the page title
      //@include to-sm {
      //  position: absolute;
      //  right: 0;
      //  top: 4px;
      //  margin: auto;
      //  width: 100%;
      //}
    }

    ion-buttons {
      @include from-md { display: none; }
      position: absolute;
    }
  }
  .content__div, .tables__container {
    display: flex;
    flex-wrap: wrap;
  }

  .home__and__away__container {
    display: flex;

    @include from-xs {
      padding-bottom: 10px;
    }

    @include from-sm {
      padding: 10px;
    }

    @include to-md {
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
    }

    ion-card + ion-card {
      margin-left: 10px;
    }

    ion-card {
      @include to-xs { margin: 10px !important; }
    }
  }
  .matches__container {
    @include to-sm {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px; // HERE
    }

    @include to-md { padding-top: 0 }

    ion-card:not(:first-child) {
      margin-top: 10px;
    }
  }

  ion-content {

    .ion-page {
      @include to-xs { text-align: center; }
    }

    .table__card {
      height: fit-content;
      background-color: white;

      @include from-md {
        min-width: 420px;
      }

      @include to-tiny {
        .team__stats {
          font-size: 11px;
        };
      }
      @include to-tiny {
        width: 100%;
      }
    }

    .league__view__card {
      background-color: white;
      width: 100%;
      height: 100%;
      display: grid;

      .match__result {
        display: flex;
        min-width: 60px;
        text-align: center;
        justify-content: center;

        span { margin: 0 8px;}
      }
      .home__team {
        width: 40%;
        @include to-xs { width: 100% }
        text-align: right;
        font-size: 12px;
        align-self: center;
        padding: 5px;
      }
      .away__team {
        width: 40%;
        @include to-xs { width: 100% }
        font-size: 12px;
        align-self: center;
        padding: 5px;
      }
      .no-data {
        height: 50px;
        text-align: center;
      }
    }
    .matchday__card,
    .main__table__container,
    .side__table__container {
      flex-wrap: wrap;
      vertical-align: top;
      @include to-sm { justify-content: center; }
    }
    .side__table__container {
      height: fit-content;
      margin: 0;
    }

    .side__table__card {
      width: 100%;

      .team__stats,
      .team__header {
        width: 120px;
        @include to-tiny { width: 116px; }
      }

      .team__name,
      .team__position,
      .team__stats {
        font-size: 11px;
      };

      .team__logo {
        @include to-tiny { margin-left: 2px; }
      }

      .line__1 { right: 24.5px; @include to-tiny { right: 24px; } }
      .line__2 { right: 44.5px; @include to-tiny { right: 43.5px; } }
      .line__3 { right: 65px; @include to-tiny { right: 63px; } }
      .line__4 { right: 85px; @include to-tiny { right: 82px; } }
      .line__5 { right: 105px; @include to-tiny { right: 100.5px; } }
    }
    ion-card {
      border-radius: 0;
      box-shadow: 0 0 5px black;
      --color: black;
      --ion-background-color: white !important;
      --background: white !important;

      @include to-xs { margin-top: 0; margin-bottom: 0; }

      @include to-tiny {
        -webkit-margin-start: 0;
        margin-inline-start: 0;
        -webkit-margin-end: 0;
        margin-inline-end: 0;
      }

      ion-list {
        overflow: hidden;
        padding: 0 5px 5px;
        @include to-xs { padding: 0 5px 5px; }
      }

      ion-progress-bar {
        --buffer-background: #ffffff;
      }
    }
    .vertical__line {
      z-index: 2;
      width: 1px;
      position: absolute;
      top: 69px;
      height: 91%;
      @supports (-webkit-appearance: none) { top: 19px; }
      @supports (-webkit-appearance: none) { height: 99%; }
      background-color: rgba(var(--ion-color-primary-contrast-rgb), 0.12);
      transform: translateY(-25px);
    }
    .line__1 { right: 30px; @include to-tiny { right: 26px; } }
    .line__2 { right: 55px; @include to-tiny { right: 46px; } }
    .line__3 { right: 80px; @include to-tiny { right: 66px; } }
    .line__4 { right: 105px; @include to-tiny { right: 87px; } }
    .line__5 { right: 130px; @include to-tiny { right: 108px; } }
    .line__6 { right: 155px; @include to-tiny { right: 129px; } }
    .line__7 { right: 180px; @include to-tiny { right: 149px; } }
  }
}

/* --------------------------------------------- */

/* +++ TABLE +++ */
.team__item {
  --min-height: 25px;
  --inner-border-width: 0 0 0 0;  // remove border for list items
  --padding-start: 0;
  --inner-padding-end: 0;
}
.card__title {
  padding: 6px 12px;
  font-weight: 700;
  font-size: 16px;
  &:not(.absolute-position) {
    position: absolute;
  }
}
.team__header__stats {
  height: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

  .team__header {
    display: flex;
    align-items: flex-end;
    margin-right: 5px;
    @include to-xs { margin-right: 5px; }
    padding-bottom: 2px;
    border-bottom: 1px solid black;
    width: 200px;
    @include to-tiny { width: 165px; }
    justify-content: space-between;
    flex-shrink: 0;

    .team__result__item {
      width: calc(100% / 8);
      display: flex;
      justify-content: center;
      align-items: flex-end;

      font-weight: 500;
      font-size: 9px;
      @include to-tiny { font-size: 8px; }
      //background-repeat: no-repeat;
      //background-position: 6px 100%,0 0;
      //background-size: 68% 10%;
      //@include to-xs { background-size: 63% 5%; }
      //@include to-xs { transform: skewY(-5deg) }
    }

    .goals--plus {
      color: white;
      .ball {
        width: 12px;
        height: 12px;
        background: var(--ion-color-primary);
        border-radius: 15px;
        text-align: center;
      }
    }
    .goals--minus {
      color: white;
      .ball {
        width: 12px;
        height: 12px;
        background: orangered;
        border-radius: 15px;
        text-align: center;
      }
    }
    .goals--difference {
      color: white;
      .ball {
        width: 12px;
        height: 12px;
        background: black;
        border-radius: 15px;
        text-align: center;
      }
    }
  }
}

.team__container {
  width: 100%;
  min-height: 30px;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;

  .matchday__position {
    font-size: 10px;
    margin-right: 5px;
    margin-left: 5px;
    color: #2d2d2d
  }
}

.team__container:nth-child(0) {
  background-color: white;
  align-self: end;
}

.team__info {
  min-height: 25px;
  display: flex;
  align-items: center;
  flex-shrink: 1;

  .team__position {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    width: 20px;
    @include to-tiny { width: 18px }
  }

  .team__logo {
    width: 20px;
    margin: 3px 5px;
    flex-shrink: 0;

    @include to-tiny {
      margin: 3px 6px;
      width: 15px;
    }

    img {
      display: flex;
      max-height: 20px;
      margin: auto;
    }
  }

  .team__name {
    align-self: center;
    width: 100%;
    margin-right: 20px;
    @include to-xs { margin-right: 5px }
  }
}

.team__stats {
  display: flex;
  align-items: center;
  width: 200px;
  @include to-tiny { width: 165px; }
  justify-content: space-between;
  flex-shrink: 0;

  .team__result__item {
    width: calc(100% / 8);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main__table__container {
  display: flex;

  @include to-md { width: 100%; }
  @include to-xs { padding: 10px 10px 0 !important; }

  .main__table__skeleton {
    .team__info { width: 100% }
    .team__container { width: 420px; }
    .team__position {
      margin-left: 5px;
      span { margin-left: 2px }
    }
  }
}
.side__table__container {
  .team__stats .team__result__item {
    width: calc(100% / 6);
  }
  .team__header__stats .team__header .team__result__item {
    width: calc(100% / 6);
  }

  .side__table__skeleton {
    padding: 0;
    #position__dot { margin-left: 3px; }
  }
}
.matchday__card {
  width: 470px;
  display: grid;
}

.list_title {
  padding-top: 20px;
}

/* --------------------------------------------- */

/* +++ HOME +++ */
.welcome-card {
  width: fit-content;

  img {
    width: 100%;
    max-height: 35vh;
    overflow: hidden;
  }
}

ion-title {
  width: fit-content;
  padding: 0;
  margin: auto;
}

.marked1 {
  background: var(--ion-color-primary);
  color: white;
  border-radius: 4px;
  .matchday__position { color: white }
}

.marked2 {
  background: var(--ion-color-primary-contrast);
  color: white;
  border-radius: 4px;
  .matchday__position { color: white }
}
